version: '2'
services:
 transmission:
  container_name: transmission
  image: haugene/transmission-openvpn
  network_mode: bridge
  cap_add:
    - NET_ADMIN
  devices:
    - /dev/net/tun
  restart: always
  ports:
    - "7878:7878"
    - "8888:8888"
    - "8989:8989"
    - "9091:9091"
    - "9117:9117"
  dns:
    - 8.8.8.8
    - 8.8.4.4
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /volume1/torrent/transmission:/config
    - /volume1/torrent/data:/data
  environment:
    - TZ=America/Toronto
    - OPENVPN_PROVIDER=IPVANISH
    - OPENVPN_USERNAME=user
    - OPENVPN_PASSWORD=pass
    - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
    - OPENVPN_CONFIG=ipvanish-CA-Montreal-yul-c03,ipvanish-CA-Montreal-yul-c04,ipvanish-CA-Montreal-yul-c05
    - LOCAL_NETWORK=192.168.0.0/24
    - TRANSMISSION_WEB_UI=transmission-web-control
    - TRANSMISSION_RATIO_LIMIT=1
    - TRANSMISSION_RATIO_LIMIT_ENABLED=true
    - TRANSMISSION_QUEUE_STALLED_MINUTES=30
    - TRANSMISSION_QUEUE_STALLED_ENABLED=true
    - TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=false
    - PGID=100
    - PUID=1026
 jackett:
  container_name: vpn-jackett
  image: linuxserver/jackett
  network_mode: service:transmission
  depends_on:
    - transmission
  restart: unless-stopped
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /volume1/torrent/data:/downloads
    - /volume1/torrent:/config
  environment:
    - TZ=America/Toronto
    - PGID=100
    - PUID=1026    
 radarr:
  container_name: vpn-radarr
  image: linuxserver/radarr
  network_mode: service:transmission
  depends_on:
    - transmission
  restart: unless-stopped
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /volume1/torrent/data:/data
    - /volume1/torrent/radarr:/config
    - /volume1/movies:/movies
  environment:
    - TZ=America/Toronto
    - PGID=100
    - PUID=1026    
 sonarr:
  container_name: vpn-sonarr
  image: linuxserver/sonarr
  network_mode: service:transmission
  depends_on:
    - transmission
  restart: unless-stopped
  volumes:
    - /etc/localtime:/etc/localtime:ro
    - /volume1/torrent/data:/data
    - /volume1/torrent/sonarr:/config
    - /volume1/shows:/tv
    - /volume1/anime:/anime
  environment:
    - TZ=America/Toronto
    - PGID=100
    - PUID=1026    
